* { margin: 0; padding: 0; }
.bg { width:100%; max-width: 1600px; height: 1600px; background: #3b3b3b; position: relative; margin: 0 auto;}
div { width: 400px; height:400px; font-size:60px; text-align: center; color:white; line-height: 400px; text-shadow: 2px 0px 5px rgba(0,0,0,0.5); border: 5px; position: absolute; }
.bg div:nth-child(1) { background:#e54343; top: 0; left: 1200px; }
.bg div:nth-child(2) { background:#e59f43; top: 400px; left: 1200px; }
.bg div:nth-child(3) { background:#e5dc43; top: 800px; left: 0; }
.bg div:nth-child(4) { background:#94e543; top: 800px; left: 400px; }
.bg div:nth-child(5) { background:#43e0e5; top: 800px; left: 800px; }
.bg div:nth-child(6) { background:#437de5; top: 800px; left: 1200px; }
.bg div:nth-child(7) { background:#8043e5; top: 1200px; left: 400px; }
.bg div:nth-child(8) { background:#776d79; top: 1200px; left: 800px; }

@media(max-width:1600px) {
    .bg div { width: 25%; }
    .bg div:nth-child(1) { top: 1200px; left: 0%; }
    .bg div:nth-child(2) { top: 1200px; left: 25%; }
    .bg div:nth-child(3) { top: 1200px; left: 50%; }
    .bg div:nth-child(4) { top: 1200px; left: 75%; }
    .bg div:nth-child(5) { top: 0; left: 0%; }
    .bg div:nth-child(6) { top: 0; left: 25%; }
    .bg div:nth-child(7) { top: 400px; left: 0%; }
    .bg div:nth-child(8) { top: 800px; left: 75%;}
}

@media(max-width:1000px) {
    .bg div { width:calc(100% / 3); }
    .bg div:nth-child(1) { top: 0; width:100%; }
    .bg div:nth-child(2) { top: 400px; left: 0%; }
    .bg div:nth-child(3) { top: 800px; left: 0%; }
    .bg div:nth-child(4) { top: 1200px; left: 0%; }
    .bg div:nth-child(5) { top: 400px; left: calc(100% / 3); width:calc((100% / 3) * 2);}
    .bg div:nth-child(6) { top: 800px; left: calc(100% / 3);}
    .bg div:nth-child(7) { top: 800px; left: calc((100% / 3) * 2);}
    .bg div:nth-child(8) { top: 1200px; left: calc(100% / 3); width:calc((100% / 3) * 2); }
}
